* 
{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container { 
  position: relative;
  width: 100%;
  height: 99.9vh;
  display: flex;
  background: #ffffff;
}

.container::before { 
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .card { 
  position: relative;
  display: flex;
  flex-grow: 1;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  align-items: center;
}

.container .card:hover { 
  flex-grow: 3;
  background: #1a1a1a;
}

.container .card ion-icon { 
  font-size: 15vh;
  color: #1a1a1a;
  transition: 0.5s ease-in-out;
  margin: auto;
}

.container .card:hover ion-icon { 
  font-size: 25vw;
  color: #fff;
  filter: drop-shadow(0 0 20px #ea4884)
  drop-shadow(0 0 30px #ea4884)
  drop-shadow(0 0 60px #ea4884)
  drop-shadow(0 0 100px #ea4884)
  drop-shadow(0 0 150px #ea4884);
  background: repeating-linear-gradient(90deg, #fff1 0px, #fff1 1px, transparent 1px, transparent 10px), repeating-linear-gradient(0deg, #fff1 0px, #fff1 1px, transparent 1px, transparent 10px);
  background-size: 10px 10px;
} 